@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Clash Display';
  src: url('./assets/fonts/ClashDisplay-Variable.ttf') format('truetype');
  font-weight: 200 700;
  font-display: swap;
}

@font-face {
  font-family: 'Melodrama';
  src: url('./assets/fonts/Melodrama-Variable.ttf') format('truetype');
  font-weight: 200 700;
  font-display: swap;
}

@font-face {
  font-family: 'Pally';
  src: url('./assets/fonts/Pally-Variable.ttf') format('truetype');
  font-weight: 400 700;
  font-display: swap;
}

@font-face {
  font-family: 'Pencerio';
  src: url('./assets/fonts/Pencerio-Hairline.otf') format('opentype');
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: 'Stardom';
  src: url('./assets/fonts/Stardom-Regular.otf') format('opentype');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Zodiak';
  src: url('./assets/fonts/Zodiak-Variable.ttf') format('truetype');
  font-weight: 200 700;
  font-display: swap;
}


/* Custom classes for overlays if needed, but we will mostly use dynamic inline styles or tailwind classes */
body {
  @apply bg-neutral-900 text-white font-sans;
}